<!doctype html>
<title>D4D Tester</title>
<head>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.mousewheel-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.terminal-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d4d_lib.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d4dexec.js') }}"></script>
<link href="{{ url_for('static', filename='jquery.terminal.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
</head>
<body>
<h1>D4D Test Shell</h1>
<div id="container">
  <button id="button" type="button">New Stuff!</button>
  <div id="terminal"></div>
  <div id="info">
    <p>D4D Example Commands:</p>
    <ul>
      <li>d4d.c4.sparse_matrix.entry_named('dog', ('left', 'IsA', 'animal'))</li>
      <li>d4d.c4.sparse_matrix[1,1]</li>
      <li>d4d.c4.sparse_matrix[1,1] = 0.777</li>
      <li>d4d.c4.sparse_matrix.addAt( )</li>
    </ul>   
  </div>
  <div id="spacer"></div>
</div>
</body>
